*.py[co]
*~
*.swp
*.swo
.DS_Store
*.mo
log
doc/*.vpp~*
xml/*
conti.sqlite
insert_data.json
one_week_streams.sql
main_table_dump.sql
main_dump.sql
main_dump_complete.sql
main_dump_remote.sql
main_dump_final.sql
migrate_db
sn.sql
tl.xml
tmp/*
