* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 100%;
	color: #CCC;
}

body {
	background-color: #050505;
}

a {
	text-decoration: None;
}

h1 {
	font-size: 2em;
	color: #FF8734;
	margin-bottom: 9px;
	/*border-bottom: 1px dotted #555;*/
}

li {
	margin: 0;
	padding: 0;
	list-style-type: None;
}

.wide {
    width: 960px;
    margin: 0 auto;
}

#mainwrap {
	width: 960px;
}

.stream-list-stream {
	margin-bottom: 20px;
}
