* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 100%;
	color: #eee;
}

body {
	background-color: #111;
	min-height: 800px;
}

a {
	text-decoration: none;
	color: #FFB238;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2.2em;
	color: #fff;
	margin-bottom: 9px;
	margin-top: 30px;
}

h2 {
	font-size: 2.0em;
	color: #fff;
	margin: 30px 0px;
}

h3 {
	font-size: 1.25em;
	color: #FFB238;
}

li {
	margin: 0;
	padding: 0;
	list-style-type: None;
}

input[type='text'] {
	color: #111;
}

#main-wrap, #logo {
    margin: auto;
	width: 920px;
}

#main-wrap-details, #logo-details {
	margin: 0 8%;
}

#logo img, #logo-details img {
	height: 20px;
	border: 0;
}

#header {
	padding: 10px 1px;
	background: #e8e8e8; /* Old browsers */
	background: -moz-linear-gradient(top, #e8e8e8 8%, #939393 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#e8e8e8), color-stop(100%,#939393)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e8e8e8 8%,#939393 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e8e8e8 8%,#939393 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e8e8e8 8%,#939393 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e8e8e8 8%,#939393 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#939393',GradientType=0 ); /* IE6-9 */
}

#header a {
	color: #111	;
	text-decoration: none;
	font-size: 20px;
	font-family: helvetica;
	font-weight: bold;
	text-shadow: 1px 1px 0 #eee;
}

#header a:hover {
	color: #2B74BC; 
}

#content {
	min-height: 250px;
}

#stream-list {
	width: auto;
	float: left;
}

#stream-list-wrap {
	padding-right: 80px;
}

.stream-list-stream, .search-result, .stream-list-graph{
	margin-top: 5px;
	margin-bottom: 15px;
}

.homepage-graph {
	height: 130px;
	width: 340px;
	margin-left: -5px;
	display: none;
}

.explain {
	width: 340px;
	margin-bottom: 20px;
	color: #ddd;
}

.explain a {
	color: #5af;
}

#search {
	font-size 0.9em;
	width: auto;
	float: left;
}

#search-hl {
	padding-left: 80px;
}

#search-border-wrap {
	border-left: 3px solid #333;
	padding-left: 80px;
}

#search-term {
	font-size: 0.95em;
	padding: 0px 10px;
	margin-right: 10px;
	border-radius: 5px;
	height: 34px;
	color: #222;
	border: 0;
}

#search-results {
	display: none;
	margin-bottom: 50px;
}

#search-results h2 {
	margin: 40px 0px 20px 0px;
}

.search-result {
	color: #ddd;
}

#currently-online {
	margin-top: 50px;
}

#ie-explain {
	display: none;
}

#show-all-online {
	margin: 25px 0px 20px 0px;
	padding-bottom: 5px;
}

#show-all-online a {
	color: #407FBF;
}

#back {
	margin-top: 20px;
}

#details-menu {
	margin: 40px 0px 10px 0px;
}

#details-menu>div {
	margin-bottom: 20px;
}

#second-row div {
	float: left;
}

#offset {
	min-width: 405px;
}

#dates {
	margin-top: 30px;
	font-size: 20px;
	float: left;
}

#details-top {
	float: left;
	width: 100%;
}

#details-top a {
	color: #ccc;
	font-size: 0.9em;
}

#tl-link {
	margin-top: 2px;
	margin-right: 5px;
	width: auto;
	float: right;
}

#details-top-left {
	float: left;
	width: auto;
	margin-right: 18%;
}

#details-top-right {
	float: left;
	margin-top: 20px;
	width: 390px;
}

#embed {
	min-height: 250px;
}

#graph {
	clear: both;
	width: 100%;	
	height: 400px;
	margin-left: -7px;
}

.graph-tooltip-number { 
	font-face: helvetica, arial; 
	color: white; 
}

.graph-tooltip-date { 
	font-face: helvetica, arial; 
	font-weight: normal; 
	color: #5af; 
	font-size: 10px; 
	line-height: 12px; 
	margin-bottom: 1px;
}

.graph-tooltip-label { 
	margin-left: 6px;
}

.graph-tooltip-label-center { 
	text-align: center;
}

.details-graph {
	display: None;
	height: 400px;
}

#footer {
	clear: both;
	margin-top: 15px;
	margin-bottom: 5px;
	margin-right: 12px;
	font-size: 0.9em;
	padding-top: 5px;
	border-top: 1px dotted #333;
}

#footer-copyright {
	color: #999;
}

#footer a {
	color: #ccc;
}

#address {
	margin-top: 20px;
}
