* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 100%;
	color: #111;
}

body {
	background-color: #fefefe;
}

a {
	text-decoration: underline;
	color: darkblue;
}

h1 {
	font-size: 2em;
	color: #222;
	margin-bottom: 9px;
	/*border-bottom: 1px dotted #555;*/
}

li {
	margin: 0;
	padding: 0;
	list-style-type: None;
}

.wide {
    max-width: 1600px;
    margin: 0 auto;
}

#mainwrap {
	max-width: 1600px;
}

#stream-list {
	margin-top: 10px;
}

.stream-list-stream {
	margin-bottom: 15px;
	margin-top: 5px;
}

#graph {
	height: 400px;
}

.graph-tooltip-number { 
	font-face: helvetica, arial; 
	color: white; 
}

.graph-tooltip-date { 
	font-face: helvetica, arial; 
	font-weight: normal; 
	color: #5AF; 
	font-size: 10px; 
	line-height: 12px; 
}

.graph-tooltip-label { 
	text-align: center;  
}

.details-graph {
	display: None;
	height: 400px;
}
