{% extends 'base.html' %}
{% block logo_type %}
	<div id="logo">
{% endblock %}
{% block main_type %}
	<div id="main-wrap">
{% endblock %}
{% block content %}
<div id="back">
	<a href="/">
		<input type="button" id="back-button" class="button" value="Back to homepage"/>
	</a>
</div>
<h1>About</h1>
According to German law here is the relevant contact infomation:<br/>
<p id="address">
Felix Stiehler <br/>
Eichendorffstr. 14 <br/>
14547 Fichtenwalde <br/>
Germany <br/>
Email: <a href="mailto:contact@sc2streamnumbers.com">contact@sc2streamnumbers.com</a><br/>
Responsible for content: Felix Stiehler
</p>
{% endblock %}
