{% extends 'base.html' %}
{% block logo_type %}
	<div id="logo-details">
{% endblock %}
{% block main_type %}
	<div id="main-wrap-details">
{% endblock %}
{% block content %}
	<script type="text/javascript" charset="utf-8">
		var last_tid = -1;
		var current_type = 'day';
		var current_time_span_start = 0;
		var current_time_span_end = 0;
		var auto_update_interval = 1000 * 60;
		var auto_update_offset = 500;
		var embed_height = 250;
		var embed_width = 390;
		var stream_id, streaming_platform, streaming_platform_ident;
		var current_site;
		var embed_formats;
		var config = {
			"hour": {
				"date-format-topline": "F dS, Y g:i a",
				"date-format-axis": "g:i a",
				"grid-interval": 3,
				"seconds-offset": 60 * 60,
				"seconds-offset-step": 60 * 5
			},
			"day": {
				"date-format-topline": "F dS, Y g:i a",
				"date-format-axis": "M d, g:i a",
				"grid-interval": 8,
				"seconds-offset": 60 * 60 * 24,
				"seconds-offset-step": 60 * 30
			},
			"week": {
				"date-format-topline": "F dS, Y g:i a",
				"date-format-axis": "M d, g:m a",
				"grid-interval": 6,
				"seconds-offset": 60 * 60 * 25 * 7,
				"seconds-offset-step": 60 * 60 * 4
			},
			"month": {
				"date-format-topline": "F dS, Y",
				"date-format-axis": "M d, Y",
				"grid-interval": 8,
				"seconds-offset": 60 * 60 * 24 * 7 * 30,
				"seconds-offset-step": 60 * 60 * 24
			}
		}

		function load_params() {
			stream_id = $('#stream-id').html();
			streaming_platform = $('#streaming-platform').html();
			streaming_platform_ident = $('#streaming-platform-ident').html();
			current_site = $('#current-site').html();

			embed_formats = {
				'Justin': '<object width="' + embed_width + '" height="' + embed_height + '" class="videoplayer" id="live_embed_player_flash" bgcolor="#000000" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=' + streaming_platform_ident + '" type="application/x-shockwave-flash" style="width: ' + embed_width + 'px; height: ' + embed_height + 'px;">' +
					'<param value="true" name="allowFullScreen">' +
					'<param value="always" name="allowScriptAccess">' +
					'<param value="all" name="allowNetworking">' +
					'<param value="http://www.twitch.tv/widgets/live_embed_player.swf" name="movie">' +
					'<param value="hostname=www.twitch.tv&amp;channel=' + streaming_platform_ident + '&amp;auto_play=false&amp;start_volume=50" name="flashvars">' +
					'</object>',
				'Own3d': '<iframe height="' + embed_height + '" width="' + embed_width + '" frameborder="0" src="http://www.own3d.tv/liveembed/' + streaming_platform_ident + '"></iframe>'
			}
		}

		function format_time(type, unix_time, date_format_type) {
			var date = new Date(unix_time * 1000);
			return date.format(config[type]['date-format-' + date_format_type]);
		}

		function disable_button(id) {
			return $('#' + id).addClass('disabled').removeAttr('onclick');
		}

		function enable_button(id) {
			return $('#' + id).removeClass('disabled');
		}

// *******************
// Auto Update
// ******************

		function end_auto_update() {
			$('#auto-update').removeClass('active');
			if (last_tid >= 0) {
				clearInterval(last_tid);
				last_tid = -1;
			}
			enable_button('next').attr('onclick', 'go_next()');
			enable_button('latest').attr('onclick', 'go_latest()');
		}

		function start_auto_update() {
			$('#auto-update').addClass('active');
			// run update 3s after and then every minute
			setTimeout(function() {
					update_page(current_type, 'latest', false);
				},
				auto_update_offset);
			last_tid = setInterval(
				function() {
					update_page(current_type, 'latest', false);
				},
				auto_update_interval);
			// disable now useless buttons
			disable_button('next');
			disable_button('latest');
		}

		function toggle_auto_update() {
			if ($('#auto-update').hasClass('active'))
				end_auto_update();
			else
				start_auto_update();
		}

// *********************
// Go-To Functions
// *********************

		function go_before() {
			end_auto_update();
			update_page(current_type, current_time_span_start, false);
		}

		function go_next() {
			current_time = Math.round(new Date().getTime() / 1000);
			new_time_start = current_time_span_end +
				config[current_type]['seconds-offset'];
			if (current_time > new_time_start)
				update_page(current_type, new_time_start, false);
			else
				update_page(current_type, 'latest', false);
		}

		function go_latest() {
			update_page(current_type, 'latest', false);
		}

// *********************
// Page Refresh
// ********************

		function update_buttons(type, data) {
			$('#before').val(type + " Before");
			$('#next').val("Next " + type);

			$('.details-switcher').each(function(index, elem) {
				$(elem).attr('onclick', 'update_page_click(this)');
			});

			enable_button($('.disabled').attr('id'));
			disable_button(type);
		}

		function update_dates(type, data) {
			$('#dates-start').html(format_time(type,
											   data[0]['date'],
											   'topline'));
			$('#dates-end').html(format_time(type,
											 data[data.length -1]['date'],
											 'topline'));
		}

		function get_tool_tip_div(type, hits, unix_date) {
			// rendering the numbers string
			hits_str = "";
			if (hits == null) {
				hits_str = "stream offline";
			}
			else {
				hits_str = hits + " viewers";
			}
			tool_tip = $('<div>');
			$('<p>').addClass("graph-tooltip-number")
				.html(hits_str).appendTo(tool_tip);

			// rendering the dates
			current_time = new Date(unix_date * 1000);
			before_seconds = unix_date - config[type]['seconds-offset-step'];
			before_time = new Date(before_seconds * 1000);
			current_time_format = current_time.format('g:i a');
			before_time_format = before_time.format('g:i a');
			current_date_format = before_time.format('%D');
			switch(type) {
				case 'hour':
					tool_tip.addClass("graph-tooltip-label-center");
					$('<p>').addClass("graph-tooltip-date")
						.html(current_time_format).appendTo(tool_tip);
					break;
				case 'day':
				case 'week':
					tool_tip.addClass("graph-tooltip-label");
					$('<p>').addClass("graph-tooltip-date")
						.html(before_time_format + ' - ' + current_time_format)
						.appendTo(tool_tip);
					$('<p>').addClass("graph-tooltip-date")
						.html(current_date_format).appendTo(tool_tip);
					break;
				case 'month':
					tool_tip.addClass("graph-tooltip-label-center");
					$('<p>').addClass("graph-tooltip-date")
						.html(current_date_format).appendTo(tool_tip);
					break;
			}
			return tool_tip;
		}

		function update_graph(type, data, clear) {
			var values = new Array(data.length);
			var tooltips = new Array(data.length);
			var labels = new Array(data.length);

			current_time_span_start = data[0]['date'];
			current_time_span_end =  data[data.length - 1]['date'];

			$.each(data, function(index, point) {
				tooltips[index] = get_tool_tip_div(type,
												   point['number'],
												   point['date']);
				if (index < data.length - 1) {
					if (index % config[type]['grid-interval'] == 0) {
						labels[index] = format_time(type, point['date'], 'axis');
					}
					else {
						labels[index] = "";
					}
				}
				values[index] = point['number'];
			});

			if (clear) {
				$("#graph").chart("clear");
			}

			$("#graph").chart({
				template: "streamnumbers-" + type,
				tooltips: tooltips,
				values: {
					serie1: values,
				},
				labels: labels,
			});
		}

		function update_page_click(elem) {
			current_type = $(elem).attr('id');
			end_auto_update();
			update_page(current_type, 'latest' , true);
		}

		function update_page(type, time_span_end, clear) {
			query_url = '';
			// false is not > 0
			if (time_span_end != 'latest' && time_span_end > 0) {
				query_url = 'http://' + current_site + '/' + stream_id + '/' +
							type + '/' +
							time_span_end + '/';
			}
			else {
				query_url = 'http://' + current_site + '/' + stream_id + '/' +
							type + '/';
			}
			$.getJSON(query_url, function(data) {
					update_graph(type, data, clear);
					update_dates(type, data);
					update_buttons(type, data);
				}
			);
		}

		function load_embed() {
			$('#embed').html(embed_formats[streaming_platform]);
		}

		$(function() {
			load_params();
			update_page(current_type, 'latest', true);
			load_embed();
		});

	</script>
	<div id="details-top">
		<div id="details-top-left">
			<div id="back">
				<a href="/">
					<input type="button" id="back-button" class="button" value="Back to homepage"/>
				</a>
			</div>
			<h1>{{ stream.name }}</h1>
			<div id="details-menu">
				<div id="first-row">
					<input type="button" id="hour" class="button details-switcher" onclick="update_page_click(this);" value="Hourly"/>
					<input type="button" id="day" class="button details-switcher" onclick="update_page_click(this);" value="Daily"/>
					<input type="button" id="week" class="button details-switcher" onclick="update_page_click(this);" value="Weekly"/>
					<input type="button" id="month" class="button details-switcher" onclick="update_page_click(this);" value="Monthly"/>
				</div>
				<div id="second-row">
					<div id="offset">
						<input type="button" id="before" class="button details-offset-switcher" onclick="go_before()" value=""/>
						<input type="button" id="next" class="button details-offset-switcher" onclick="go_next()" value=""/>
						<input type="button" id="latest" class="button details-offset-switcher" onclick="go_latest()" value="Latest"/>
					</div>
					<div id="auto-update-div">
						<input type="button" id="auto-update" class="button" onclick="toggle_auto_update()" value="Auto Update"/>
					</div>
				</div>
			</div>
			<div id="dates">
				<span id="dates-start" class="dates-part"></span> -
				<span id="dates-end" class="dates-part"></span> CEST
			</div>
		</div>
		<div id="details-top-right">
			<div id="embed"></div>
			<div id="tl-link">
				<a href="{{ stream.tl_stream_link }}">Watch on TeamLiquid.net</a>
			</div>
		</div>
	</div>
	<div id="graph"></div>
	<div id="hidden-params" style="display: none;">
		<div id="stream-id">{{ stream.id }}</div>
		<div id="current-site">{{ current_site }}</div>
		<div id="streaming-platform-ident">{{ stream.streaming_platform_ident }}</div>
		<div id="streaming-platform">{{ stream.streaming_platform.name }}</div>
	</div>
{% endblock %}
