{% extends 'base.html' %}
{% block content %}

	<script type="text/javascript" charset="utf-8">
		$(function() {
			var thevalues, thetooltips, thelabels;

			// query for the data
			$.getJSON('http://{{ current_site }}{% url streams.main.views.stream_numbers stream.id 'day' %}',
				function(data) {
					thevalues = new Array(data.length);
					thetooltips = new Array(data.length);
					thelabels = new Array(data.length);
					$.each(data, function(index, point) {
						thetooltips[index] = "<div class='graph-tooltip-label'> \
	<p class='graph-tooltip-number'>" + point['number'] + " hits</p> \
	<p class='graph-tooltip-date'>" + index + " september</p> \
</div>";
						thelabels[index] = index + 1;
						thevalues[index] = point['number'];
					});

					$("#graph").chart({
						template: "streamnumbers",
						tooltips: thetooltips,
						values: {
							serie1: thevalues,
						},
						labels: thelabels,
					});
				}
			);

		});
	</script>
	<div id="details">
		<h1>{{ stream.name }}</h1>
		<div id="graph">
		</div>
	</div>
	<div id="stream-id" style="display: none">
		{{ stream.id }}
	</div>
{% endblock %}
