{% extends 'base.html' %}
{% block content %}
	<script type="text/javascript" charset="utf-8">
		var last_tid = -1;
		var config = {
			"hour": {
				"date-format-tooltip": "g:i a",
				"date-format-topline": "F dS, Y g:i a",
				"date-format-axis": "g:i a",
				"grid-interval": 3
			},
			"day": {
				"date-format-tooltip": "g:ia %D",
				"date-format-topline": "F dS, Y g:i a",
				"date-format-axis": "F d, g:i a",
				"grid-interval": 8
			},
			"week": {
				"date-format-tooltip": "g:ia %D",
				"date-format-topline": "F dS, Y g:i a",
				"date-format-axis": "F d, g:m a",
				"grid-interval": 6
			},
			"month": {
				"date-format-tooltip": "%D",
				"date-format-topline": "F dS, Y",
				"date-format-axis": "F d, Y",
				"grid-interval": 8
			}
		}

		function format_time(type, unix_time, date_format_type) {
			var date = new Date(unix_time * 1000);
			return date.format(config[type]['date-format-' + date_format_type]);
		}

		function get_tool_tip_div(hits, unix_date) {
			hits_str = "";
			if (hits == null) {
				hits_str = "stream offline";
			}
			else {
				hits_str = hits + " viewers";
			}

			tool_tip = $('<div>').addClass("graph-tooltip-label");
			$('<p>').addClass("graph-tooltip-number")
				.html(hits_str).appendTo(tool_tip);
			$('<p>').addClass("graph-tooltip-date")
				.html(unix_date).appendTo(tool_tip);
			return tool_tip;
		}

		function auto_update(type) {
			$.getJSON('http://{{ current_site }}/{{ stream.id }}' + '/' + type + '/',
				function(data) {
					update_graph(type, data, false);
					update_dates(type, data);
				});
		}

		function toggle_auto_update() {
			au_button =  $('#auto-update')
			au_button.toggleClass('active');

			if (last_tid >= 0) {
				clearInterval(last_tid);
				last_tid = -1;
			}
			if (au_button.hasClass('active')) {
				type = $('.details-switcher.disabled').attr('id');
				last_tid = setInterval(function() {auto_update(type)}, 1000*60);
			}
		}

		function update_buttons(type, data) {
			$('#before').val(type + " Before");
			$('#next').val("Next " + type);

			$('.disabled').removeClass('disabled')
			$('#' + type).addClass('disabled').removeAttr('onclick');

			$('.details-switcher').each(function(index, elem) {
				$(elem).attr('onclick', 'update_page_click(this)');
			});
		}

		function update_dates(type, data) {
			$('#dates-start').html(format_time(type,
											   data[0]['date'],
											   'topline'));
			$('#dates-end').html(format_time(type,
											 data[data.length -1]['date'],
											 'topline'));
		}

		function update_graph(type, data, clear) {
			var values = new Array(data.length);
			var tooltips = new Array(data.length);
			var labels = new Array(data.length);

			$.each(data, function(index, point) {
				date_str = format_time(type, point['date'], 'tooltip');
				tooltips[index] = get_tool_tip_div(point['number'],
													   date_str);
				if (index < data.length - 1) {
					if (index % config[type]['grid-interval'] == 0) {
						labels[index] = format_time(type, point['date'], 'axis');
					}
					else {
						labels[index] = "";
					}
				}
				values[index] = point['number'];
			});

			if (clear) {
				$("#graph").chart("clear");
			}

			$("#graph").chart({
				template: "streamnumbers-" + type,
				tooltips: tooltips,
				values: {
					serie1: values,
				},
				labels: labels,
			});
		}

		function update_page_click(elem) {
			update_page($(elem).attr('id'), true);
		}

		function update_page(type, clear) {
			$.getJSON('http://{{ current_site }}/{{ stream.id }}' + '/' + type + '/',
				function(data) {
					update_graph(type, data, clear);
					update_dates(type, data);
					update_buttons(type, data);
				}
			);
		}

		$(function() {
			update_page('hour');
		});

	</script>
	<div id="details">
		<h1>{{ stream.name }}</h1>
		<div id="details-menu">
			<div id="first-row">
				<input type="button" id="hour" class="button details-switcher" onclick="update_page_click(this);" value="Hour"/>
				<input type="button" id="day" class="button details-switcher" onclick="update_page_click(this);" value="Day"/>
				<input type="button" id="week" class="button details-switcher" onclick="update_page_click(this);" value="Week"/>
				<input type="button" id="month" class="button details-switcher" onclick="update_page_click(this);" value="Month"/>
			</div>
			<div id="second-row">
				<div id="offset">
					<input type="button" id="before" class="button details-offset-switcher" onclick="" value=""/>
					<input type="button" id="next" class="button details-offset-switcher" onclick="" value=""/>
					<input type="button" id="latest" class="button details-offset-switcher" onclick="" value="Latest"/>
				</div>
				<div id="auto-update-div">
					<input type="button" id="auto-update" class="button" onclick="toggle_auto_update()" value="Auto Update"/>
				</div>
			</div>
		</div>
		<div id="dates">
			<span id="dates-start" class="dates-part"></span> -
			<span id="dates-end" class="dates-part"></span>
		</div>
		<div id="graph">
		</div>
	</div>
	<div id="stream-id" style="display: none">
		{{ stream.id }}
	</div>
{% endblock %}
