{% extends 'base.html' %}
{% block logo_type %}
	<div id="logo">
{% endblock %}
{% block main_type %}
	<div id="main-wrap">
{% endblock %}
{% block content %}
	<script type="text/javascript" charset="utf-8">
		var current_site;
		function load_params() {
			current_site = $('#current-site').html();
		}

		function get_tool_tip_div(hits, unix_date) {
			// rendering the numbers string
			hits_str = "";
			if (hits == null) {
				hits_str = "stream offline";
			}
			else {
				hits_str = hits + " viewers";
			}
			tool_tip = $('<div>');
			$('<p>').addClass("graph-tooltip-number")
				.html(hits_str).appendTo(tool_tip);

			current_time = new Date(unix_date * 1000);
			current_time_format = current_time.format('g:i a');
			tool_tip.addClass("graph-tooltip-label-center");
			$('<p>').addClass("graph-tooltip-date")
				.html(current_time_format).appendTo(tool_tip);
			return tool_tip;
		}

		function get_homepage_stream_numbers(stream_id) {
			$.getJSON('http://' + current_site + '/homepage/' + stream_id + '/',
				function(data) {
					var values = new Array(data.length);
					var tooltips = new Array(data.length);

					$.each(data, function(index, point) {
						tooltips[index] = get_tool_tip_div(point['number'],
														   point['date']);
						values[index] = point['number'];
					});

					$("#" + stream_id + " .homepage-graph").show();
					$("#" + stream_id + " .homepage-graph").chart({
						template: "streamnumbers-homepage",
						tooltips: tooltips,
						values: {
							serie1: values,
						},
					});
				}
			);
		}

		function go_to_search() {
			query = $('#search-term').val();
			window.location = 'http://' + current_site + '/search/' + query + '/';
		}

		$(function() {
			load_params();

			$.each($('.stream-list-stream'), function(index, elem) {
				get_homepage_stream_numbers($(elem).attr('id'));
			});

			$('#search-term').live("keypress", function(e) {
				if (e.keyCode == 13) {
					go_to_search();
				}
			});

			if ($.browser.msie) {
				$('#stream-list').remove();
				$('#ie-explain').show();
			}
		});
	</script>
	<div id="stream-list">
		<h2>Popular Streams</h2>
		<div class="explain">
			The three most popular streams at the moment. Click on the names for more details.
		</div>
		<div id="stream-list-wrap">
			{% for snum in stream_numbers|slice:":3" %}
				<div id="{{ snum.stream.id }}" class="stream-list-stream">
					<a href="{% url streams.main.views.detail snum.stream.id %}" >
						<h3>{{ snum.stream.name }}</h3>
					</a>
					<div class="homepage-graph"></div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div id="search">
		<h2 id="search-hl">Search</h2>
		<div id="search-border-wrap">
			<div class="explain">
				Look for online and offline streams.
			</div>
			<input id="search-term" placeholder="Liquid`TLO" type="text" size="20"/>
			<input id="search-button" type="button" onclick="go_to_search()" value="Search"/>
			<div id="currently-online">
				<h2>Currently online</h2>
				<div id="ie-explain" class="explain">
					Click on the stream names for detailed graphs and additional information.
				</div>
				{% for snum in stream_numbers|slice:"7" %}
					<div id="{{ snum.stream.id }}" class="stream-list-stream">
						<a href="{% url streams.main.views.detail snum.stream.id %}" >
							<h3>{{ snum.stream.name }}</h3>
						</a>
						{{ snum.number }} viewers
					</div>
				{% endfor %}
				<div id="show-all-online">
					<a href="{% url streams.main.views.all_online %}">Show all online streams</a>
				</div>
			</div>
		</div>
	</div>
	<div id="hidden-params" style="display: none;">
		<div id="current-site">{{ current_site }}</div>
	</div>
{% endblock %}
